/**
 * @author nstCactus
 * @date 06/01/2018 16:24
 */

// See https://www.npmjs.com/package/deployator#configuration-file environments section
module.export = {
  host:       '',
  username:   '',
  password:   '',
  deployPath: '',
};
